@tailwind base;
@tailwind components;
@tailwind utilities;

.patients-heading,.staff-heading{
  font-size: 10px;
  margin: 10px 10px 10px 0;
  font-weight: 500;
}

.patients,.staff,.general{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.material-symbols-outlined{
  color: #00B1B2;
}